$blue: #2350a2;
$lightBlue: #7796d1;
//$darkerBlue: #5681d1;
//$darkBlue:#324b7a;
//$darkestBlue:#0b2d69;
//$green:#14988a;
//$lightGreen:#6acbc1;
//$darkerGreen:#47cbbd;
//$darkGreen:#28726a;
//$darkestGreen:#066359;
//$yellow:#f4aa20;
//$lightYellow:#fad082;
//$darkerYellow:#fac057;
//$darkYellow:#b78d40;
//$darkestYellow:#9f6b0a;
$apadmiOrange: #f47a20;
//$lightOrange: #fa9587;
//$darkerOrange: #fab582;
//$lightBrown: #b77240;
//$darkerBrown: #9f490a;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-color: #fafafa;
  font-family: 'Open sans';
  margin-top: 1em;

  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
}

.navbar {
  h1 {
    margin-left: 5em;
    color: $blue;
  }
  .navbar-inner {
    background-color: $apadmiOrange;
    border-top: 1px solid #f5af7a;
    border-bottom: 1px solid #b75d07;
    a.brand {
      color: white;
      text-shadow: 0 0;
    }
    background-image: none;
  }
}

#focused-week {
	margin-bottom:1em;
	h4 {
		display:inline-block;
	}
	button {
		&.date-arrow {
			display: inline-block;
			background-image: url("/img/left-and-right.png");
			background-repeat: no-repeat;
			width: 37.5px;
			height: 35px;
			border: none;
			background-color: transparent;
		}
		&.arrow-left {
			background-position:0 0;
			margin-right:0.5em;
		}
		&.arrow-right {
			background-position:-36px 0;
			margin-left:0.5em;
		}
	}
}

.white-on-black {
  background-color: black;
  color:white;
  font-weight: bolder;
  text-align: center;
  height: 2em;
  line-height: 2em;
}

@mixin glyph-icons($spacing) {
  margin-top:$spacing;
  margin-right:$spacing;
  cursor: pointer;
}

.day {
	border: solid 1px black;
	border-radius: 4px;
	background: -webkit-radial-gradient(circle, #D6D6D6, #FFFFFF);
	text-align: center;
	color:gray;
	header, footer {
      @extend .white-on-black;
	}
    .fa-plus-circle {
      @include glyph-icons(6px);
      &:hover {
        color:$lightBlue;
      }
    }
	&:last-child{
		margin-right:0;
	}
	&:first-child {
		margin-left:7em;
	}
	.dayPart {
		min-height: 1.4em;
        .fa {
          visibility:hidden;
          @include glyph-icons(3px);
        }
		&:hover {
			background-color:black;
			color:white;
			cursor: pointer;
          .fa {
            visibility:visible;
          }
		}
        .fa-trash-o {
          margin-right:4px;
          &:hover {
            color:red;
          }
        }
      .fa-pencil-square-o {
        margin-right:4px;
        &:hover {
          color:$lightBlue;
        }
      }
	}
}
.week-summary {
  margin-top: 1em;
  text-align: left;
  div {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .fa {
    @include glyph-icons(6px);
    &:hover {
      color:$lightBlue;
    }
  }
}
