[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

html, body {
  margin-top: 3em; }

#focused-week {
  margin-bottom: 1em; }
  #focused-week h4 {
    display: inline-block; }
  #focused-week button.date-arrow {
    display: inline-block;
    background-image: url("/img/left-and-right.png");
    background-repeat: no-repeat;
    width: 37.5px;
    height: 35px;
    border: none;
    background-color: transparent; }
  #focused-week button.arrow-left {
    background-position: 0 0;
    margin-right: 0.5em; }
  #focused-week button.arrow-right {
    background-position: -36px 0;
    margin-left: 0.5em; }

.navbar h1 {
  margin-left: 5em;
  color: white; }
.navbar .navbar-inner a.brand {
  margin-left: em; }

#main .row {
  margin-left: 4em;
  margin-right: 0; }

.days {
  margin-left: auto;
  margin-right: auto; }

.white-on-black, .day header, .day footer {
  background-color: black;
  color: white;
  font-weight: bolder;
  text-align: -webkit-center;
  height: 2em;
  line-height: 2em; }

.day {
  border: solid 1px black;
  border-radius: 4px;
  padding: 0px;
  background: -webkit-radial-gradient(circle, #d6d6d6, white);
  margin-right: 0.5em;
  text-align: center;
  color: gray; }
  .day i {
    margin-top: 3px;
    margin-right: 3px;
    cursor: pointer; }
  .day .fa-plus-circle:hover {
    color: paleturquoise; }
  .day .fa-trash-o {
    margin-right: 4px; }
    .day .fa-trash-o:hover {
      color: red; }
  .day:last-child {
    margin-right: 0; }
  .day:first-child {
    margin-left: 7em; }
  .day .dayPart {
    min-height: 1.4em; }
    .day .dayPart:hover {
      background-color: black;
      color: white;
      cursor: pointer; }
